# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Build outputs
dist/
build/
*/dist/
*/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Jenkins
jenkins_home/

# Docker
deploy.sh
docker-compose.yml
docker-compose.*.yml

#ports
ports.txt