services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - FLASK_ENV=development
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    networks:
      - myPortfolio-network
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "5173:5173"
    environment:
      # Changed from 'localhost' to the service name 'nginx' for inter-container comms
      VITE_API_URL: http://nginx/api
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - myPortfolio-network
    restart: unless-stopped # Added restart policy

  nginx:
    build: 
      context: ../infrastructure/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - myPortfolio-network
    restart: unless-stopped # Added restart policy

networks:
  myPortfolio-network:
    driver: bridge

volumes:
  jenkins_home:
